[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.jcgt.org/published/0008/01/03/icon.png
Type=Link
URL=http://www.jcgt.org/published/0008/01/03/icon.png
Icon=image-png
